@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.home {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 2em 0;
}

.title {
    text-align: center;
    padding: 1.3em 0 1.7em;
    user-select: none;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: tomato;
}

/* Form */
form {
    width: 100%;
    max-width: 365px;
    background: #fff;
    box-shadow: 0 0 4px 2px lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1.2em 1.3em 1.5em;
    border-radius: 4px;
    gap: 1em;
    user-select: none;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.4em;
}
.input span,
span {
    font-size: 1.12em;
}
form input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.12em;
    padding: 7px 0.6em;
    border-bottom: 1px solid lightgrey;
    accent-color: teal;
    color: #342;
}

select {
    width: 100%;
    padding: 10px;
    /* border: none; */
    outline: none;
    background: whitesmoke;
}

select option {
    font-size: 1.16em;
    padding: 5px 0;
}

/* Agreement */
.agreement {
    display: flex;
    width: 100%;
    gap: 0.3em;
    margin-top: 0.5em;
}

.agreement input {
    width: 40px;
}

.agreement label {
    flex: 1;
    font-size: 1.2em;
    /* color: #fff; */
}

/* Buttons */
.btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
.btn {
    border: none;
    font-size: 1.3em;
    padding: 5px 1.3em;
    margin-top: 0.3em;
    cursor: pointer;
    border-radius: 4px;
}
.submit-btn {
    background: teal;
    color: #fff;
}
.view-btn {
    background: tomato;
    color: #fff;
}

/* views */
.views {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.view {
    margin-bottom: 2em;
    background: #fff;
    padding: 3.3em 4em;
    box-shadow: 0 2px 4px -2px #000;
    border-radius: 1em;
}
.view h2 {
    text-align: center;
    text-transform: uppercase;
}
.view h2 span {
    color: teal;
}

/* sector */
.sector {
    margin-top: 1em;
}
.sector span span {
    color: tomato;
    font-size: 1.3em;
}



/* user-details */
.user-details{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.back-btn{
    background: tomato;
    color: #fff;
    padding: .6em 2em !important;
}